@import "../Design-tokens.css";

:root {
  --commons-button-size-padding-y: var(--spacings-XS);
  --commons-button-size-padding-x: var(--spacings-M);
  --commons-button-onlyIcon-size-padding-x: var(--spacings-S);
}

.searchbar_input {
  border: 1px solid #d3d3d3;
  outline: none;
  height: 2.5rem;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fcf9f9;
  padding-left: var(--commons-button-size-padding-x);
  padding-right: var(--commons-button-size-padding-x);
  margin-left: var(--commons-button-size-padding-x);
  margin-right: var(--commons-button-size-padding-x);
  width: 100%;
}
