#root {
  padding: 0 2rem;
  line-height: 1.5;
  font-size: 14px;
  font-family: sans-serif;

  /* FONT-SIZE-BASE */
  --sizes-S-font-size: 1rem;
  --sizes-S-line-height: 1.5;

  /* FONT-SIZE-H4 */
  --sizes-M-font-size: 1rem;
  --sizes-M-line-height: 1.5;

  /* FONT-SIZE-H3 */
  --sizes-L-font-size: 1.25rem;
  --sizes-L-line-height: 1.35;

  /* FONT-SIZE-H2 */
  --sizes-XL-font-size: 1.5rem;
  --sizes-XL-line-height: 1.25;

  /* FONT-SIZE-H1 */
  --sizes-XXL-font-size: 1.7rem;
  --sizes-XXL-line-height: 1.25;

  /* FONT-SIZE-ICON */
  --common-icon-font-size: 1.25rem;
}

h1,
.title-head-1 {
  font-size: var(--sizes-XXL-font-size);
  font-weight: 800;
  line-height: var(--sizes-XXL-line-height);
}
h2,
.title-head-2 {
  font-size: var(--sizes-XL-font-size);
  font-weight: 600;
  line-height: var(--sizes-XL-line-height);
}
h3,
.title-head-3 {
  font-size: var(--sizes-L-font-size);
  font-weight: 600;
  line-height: var(--sizes-L-line-height);
}
h4,
.title-head-4 {
  font-size: var(--sizes-M-font-size);
  font-weight: 600;
  line-height: var(--sizes-M-line-height);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}
