/*display*/

.d-none {
  display: none !important;
}
.d-flex {
  display: flex !important;
}
.d-inline-flex {
  display: inline-flex !important;
}

.d-block {
  display: block !important;
}
.d-inline {
  display: inline !important;
}
.d-inline-block {
  display: inline-block !important;
}

/*flexBox*/

.flex-column {
  flex-direction: column !important;
}
.flex-row {
  flex-direction: row !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}
.justify-content-end {
  justify-content: flex-end !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.justify-content-around {
  justify-content: space-around !important;
}
.justify-content-center {
  justify-content: center !important;
}

.align-item-bottom {
  align-items: flex-end !important;
}
.align-item-center {
  align-items: center !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}
.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-grow-0 {
  flex-grow: 0 !important;
}
.flex-grow-1 {
  flex-grow: 0 !important;
}

/*LIST*/
.list-style-none {
  list-style: none;
}

/*debug*/
.debug {
  border: 1px solid red !important;
}
.debug2 {
  border: 1px dotted green !important;
}
